body{
	width:60%;
	background-image: url('../images/batmansymbol.jpg');
}
#container{
	background-image: url('../images/quizbackground.jpeg');
	color:white;
	float: left;
	margin-left: 60%;
	border-style: solid;
	border-width: 1px;
	border-color: gradient;
}